@using UniFood.Data.Enum
@model UniFood.Models.Student


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="basic-elements">
                                <form asp-area="Admin" asp-controller="Students" asp-action="Edit" method="post">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label asp-for="FirstName"></label>
                                                <br>
                                                <input asp-for="FirstName" readonly class="form-control">
                                                <span asp-validation-for="FirstName"></span>
                                            </div>
                                            <br>

                                            <div class="form-group">
                                                <label asp-for="LastName"></label>
                                                <br>
                                                <input asp-for="LastName" readonly class="form-control">
                                                <span asp-validation-for="LastName"></span>
                                            </div>
                                            <br>

                                            <div class="form-group">
                                                <label asp-for="DateOfBirth"></label>
                                                <br>
                                                <input asp-for="DateOfBirth" value="@Model.DateOfBirth" class="form-control">
                                                <span asp-validation-for="DateOfBirth"></span>
                                            </div>
                                            <br>

                                            <div class="form-group">
                                                <label asp-for="Gender"></label>
                                                <br>
                                                <select class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
                                                <span asp-validation-for="Gender"></span>
                                            </div>
                                            <br>
                                            
                                            <div class="form-group">
                                                <label asp-for="UniStudentId"></label>
                                                <br>
                                                <input asp-for="UniStudentId" value="@Model.UniStudentId" class="form-control" placeholder="شماره دانشجویی">
                                                <span asp-validation-for="UniStudentId"></span>
                                            </div>
                                            <br>

                                            <div class="form-group">
                                                <label asp-for="EducationLevel"></label>
                                                <br>
                                                <select
                                                    asp-for="EducationLevel"
                                                    class="form-control"
                                                    asp-items="@Html.GetEnumSelectList<EducationLevel>()">
                                                </select>
                                                <span asp-validation-for="EducationLevel"></span>
                                            </div>
                                            <br>

                                            <div class="form-group">
                                                <label asp-for="Major"></label>
                                                <br>
                                                <select
                                                    asp-for="Major"
                                                    class="form-control"
                                                    asp-items="@Html.GetEnumSelectList<Major>()">
                                                </select>
                                                <span asp-validation-for="Major"></span>
                                            </div>
                                            <br>

                                            <div class="form-group">
                                                <label asp-for="Faculty"></label>
                                                <br>
                                                <select
                                                    asp-for="Faculty"
                                                    class="form-control"
                                                    asp-items="@Html.GetEnumSelectList<Faculty>()">
                                                </select>
                                                <span asp-validation-for="Faculty"></span>
                                            </div>
                                            <br>

                                            <input type="hidden" asp-for="Credit" value="@Model.Credit">
                                            <input type="hidden" asp-for="UserName" value="@Model.UserName">
                                            
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-default">Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>